

.stopwatch {text-align: center }

.stopwatch-timer {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  margin: 0;
  border: solid #c3cfd0;
  border-width: 1px 0;
  background-color: white;
}


